In [2]:
'''Install sncrape first using:   pip3 install snscrape from an anaconda system prompt'''


import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list1 = []
tweets_list1a = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:jack').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.json]) #declare the attributes to be returned
    tweets_list1a.append([tweet.place, tweet.tcooutlinks, tweet.quoteCount, tweet.likeCount])
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'User', 'json'])
tweets_df1a = pd.DataFrame(tweets_list1a, columns=['Place', 'Outs', 'quoteCount', 'likeCount'])    
print(dir(tweet))

['__annotations__', '__class__', '__dataclass_fields__', '__dataclass_params__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'cashtags', 'content', 'conversationId', 'coordinates', 'date', 'hashtags', 'id', 'inReplyToTweetId', 'inReplyToUser', 'json', 'lang', 'likeCount', 'media', 'mentionedUsers', 'outlinks', 'outlinksss', 'place', 'quoteCount', 'quotedTweet', 'renderedContent', 'replyCount', 'retweetCount', 'retweetedTweet', 'source', 'sourceLabel', 'sourceUrl', 'tcooutlinks', 'tcooutlinksss', 'url', 'user', 'username']

In [4]:
tweets_df1

,Datetime,Tweet Id,Text,User,json
0,2022-03-01 22:25:17+00:00,1498786480516472836,@ODELL done,jack,<bound method _JSONDataclass.json of Tweet(url...
1,2022-02-23 00:33:56+00:00,1496282139033321479,@elonmusk @gdb rust has fixed this dramatically,jack,<bound method _JSONDataclass.json of Tweet(url...
2,2022-02-19 13:17:39+00:00,1495024784446570498,https://t.co/rbPbZWuwn4,jack,<bound method _JSONDataclass.json of Tweet(url...
3,2022-02-18 20:44:14+00:00,1494774781580918786,https://t.co/Oh7FkTnS8X,jack,<bound method _JSONDataclass.json of Tweet(url...
4,2022-02-18 00:12:35+00:00,1494464827951038465,wow @Replit is really amazing https://t.co/Oik...,jack,<bound method _JSONDataclass.json of Tweet(url...
...,...,...,...,...,...
996,2020-05-15 18:59:47+00:00,1261370711840452608,@polotek @LibbySchaaf @OUSDNews All this is. T...,jack,<bound method _JSONDataclass.json of Tweet(url...
997,2020-05-15 14:00:53+00:00,1261295493168021504,$10mm to give EVERY single child in Oakland ac...,jack,<bound method _JSONDataclass.json of Tweet(url...
998,2020-05-15 13:54:39+00:00,1261293922497597442,@MorningBrew Tell me about it,jack,<bound method _JSONDataclass.json of Tweet(url...
999,2020-05-15 13:18:20+00:00,1261284781528166400,https://t.co/fac3gCTECP,jack,<bound method _JSONDataclass.json of Tweet(url...
1000,2020-05-15 12:43:55+00:00,1261276120248225794,ðŸŒž,jack,<bound method _JSONDataclass.json of Tweet(url...

In [5]:
tweets_df1a

,Place,Outs,quoteCount,likeCount
0,None,None,9,1578
1,None,None,32,4386
2,None,[https://t.co/rbPbZWuwn4],12,910
3,None,[https://t.co/Oh7FkTnS8X],35,1275
4,None,[https://t.co/OikJzJS6Fs],66,2980
...,...,...,...,...
996,"Place(fullName='California, USA', name='Califo...",None,0,125
997,"Place(fullName='California, USA', name='Califo...",[https://t.co/BBqFZHtS4I],319,5852
998,None,None,2,84
999,None,None,149,2447
1000,"Place(fullName='California, USA', name='Califo...",None,136,5726

In [6]:
import snscrape.modules

tweets_list2=[]
query = '''(corona OR #covid) until:2020-02-02 since:2020-01-31'''
#scraper = snscrape.modules.twitter.TwitterSearchScraper(query=query)
for i,tweet in enumerate(sntwitter.TwitterSearchScraper(query=query).get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned
    if i == 1:
        print(tweet.user)

#for tweet in scraper.get_items():
#    print(tweet.content)

#break
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'User'])

https://twitter.com/Antitogog1

In [7]:
print(tweets_list2[:1])

[[datetime.datetime(2020, 2, 1, 23, 59, 53, tzinfo=datetime.timezone.utc), 1223757897697505280, '@LeonydusJohnson The bird flu that is now spreading again in China along with the Corona virus mutate together', 'BrigitteDecides']]

In [8]:
tweets_df2

,Datetime,Tweet Id,Text,User
0,2020-02-01 23:59:53+00:00,1223757897697505280,@LeonydusJohnson The bird flu that is now spre...,BrigitteDecides
1,2020-02-01 23:59:52+00:00,1223757891473002496,@MNgapusi @Q22020n Bonekanya virus Corona...#R...,Antitogog1
2,2020-02-01 23:59:45+00:00,1223757864092807169,O Ãºnico #corona que eu quero https://t.co/9T0h...,itsbronzeone
3,2020-02-01 23:59:45+00:00,1223757863367122944,bizde bu ÅŸans varken anca corona virÃ¼sÃ¼ bulaÅŸÄ±r,ozkanilkerr
4,2020-02-01 23:59:43+00:00,1223757853783199745,People seem to think Corona beer is linked to ...,realkitchenzink
...,...,...,...,...
996,2020-02-01 23:23:31+00:00,1223748743587074048,Ndabaza? Leta yâ€™i Burundi yarafashe ingingo zo...,Bric_Ks
997,2020-02-01 23:23:31+00:00,1223748742920200194,@Bob26410855 from my reading the different Cor...,I_Liberty76
998,2020-02-01 23:23:30+00:00,1223748742148321280,https://t.co/0k7Ix04Xcx\nPemerintah China ters...,HeruBudiono
999,2020-02-01 23:23:29+00:00,1223748737224364033,@songulyalcin68 @av_torro 29 ÅŸubat ideal tarih...,Corona__Turkiye
1000,2020-02-01 23:23:29+00:00,1223748736356114432,@bou3ouina esk yegta3 corona?,FueledByLoubia